@charset "UTF-8";
.color-primary {
  color: #f26722;
}

.color-secondary {
  color: #21215f;
}

.bg-primary-alpha {
  background-color: rgba(242, 103, 34, 0.2) !important;
}

.bg-secondary-alpha {
  background-color: rgba(33, 33, 95, 0.1);
}

.btn-custom {
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #fff;
  font-size: 12px;
  line-height: 14.4px;
}
.btn-custom i {
  margin-right: 10px;
}

.btn-primary {
  background-color: #f26722 !important;
  border-color: #f26722 !important;
}
.btn-primary:hover {
  text-decoration: none;
}

.btn-primary-alt {
  background-color: #fff;
  color: #f26722 !important;
  border: 2px solid #f26722 !important;
}
.btn-primary-alt:hover {
  text-decoration: none;
}

.btn-primary-light {
  background: rgba(242, 103, 34, 0.5) !important;
  color: #fff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-primary-light:hover {
  color: #fff !important;
}

.btn-secondary {
  background-color: #21215f !important;
  border: 2px solid #21215f !important;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-secondary:hover {
  text-decoration: none;
}

.btn-secondary-alt {
  background-color: #fff;
  border: 1px solid #21215f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #21215f;
}

.btn-secondary-light {
  background: rgba(33, 33, 95, 0.5) !important;
  color: #fff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-secondary-light:hover {
  color: #fff !important;
}

.btn-gray {
  background: #666666 !important;
  color: #fff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-danger {
  background-color: #df0000 !important;
  border: 1px solid #df0000 !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #fff !important;
}
.btn-danger svg {
  margin-right: 10px;
}

.custom-toggle {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
.custom-toggle span {
  position: absolute;
  top: 11px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}
.custom-toggle span.active {
  left: 0;
  padding-left: 2px;
  color: #fff;
}
.custom-toggle span.inactive {
  right: 0;
  padding-right: 4px;
  color: #000;
}
.custom-toggle input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}
.custom-toggle .check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.custom-toggle .check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.custom-toggle input.check-toggle-round-flat + label {
  padding: 2px;
  width: 170px;
  height: 34px;
  background-color: #d4d7d4;
  border-radius: 60px;
}
.custom-toggle input.check-toggle-round-flat + label:before,
.custom-toggle input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.custom-toggle input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #d4d7d4;
  border-radius: 60px;
}
@media (max-width: 1099px) {
  .custom-toggle .card {
    width: 45%;
    margin: 0 2.5% 30px;
  }
}
@media (max-width: 499px) {
  .custom-toggle .card {
    width: 95%;
  }
}
.custom-toggle.primary input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 80px;
  background-color: #f26722;
  border-radius: 52px;
  transition: margin 0.2s;
}
.custom-toggle.primary input.check-toggle-round-flat:checked + label:after {
  margin-left: 80px;
  background: #f26722;
}
.custom-toggle.primary input.check-toggle-round-flat:checked ~ .off {
  color: #000;
}
.custom-toggle.secondary span.active {
  left: 0;
  padding-left: 2px;
  color: #fff;
}
.custom-toggle.secondary span.inactive {
  right: 0;
  padding-right: 4px;
  color: #fff;
}
.custom-toggle.secondary input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 80px;
  background-color: #21215f;
  border-radius: 52px;
  transition: margin 0.2s;
}
.custom-toggle.secondary input.check-toggle-round-flat:checked + label:after {
  margin-left: 80px;
  background: #21215f;
}

.gl-code-builder .available-codes {
  min-height: 60px;
  padding: 20px 20px 20px 0;
}
.gl-code-builder .selected-codes {
  background-color: #fff;
  border: 1px solid #000;
  min-height: 60px;
  padding: 20px;
  border-radius: 7px;
}
.gl-code-builder .selected-codes .btn-custom {
  position: relative;
}
.gl-code-builder .selected-codes .btn-custom:after {
  content: "−";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  color: #f26722;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.gl-code-builder .selected-codes .btn-custom:not(:last-of-type) {
  margin-right: 15px;
}
.gl-code-builder .btn-custom {
  position: relative;
}
.gl-code-builder .btn-custom:after {
  content: "+";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  color: #f26722;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.gl-code-builder .btn-custom:not(:last-of-type) {
  margin-right: 15px;
}
.gl-code-builder .selected-fields-container .text-container p {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
}
.gl-code-builder .active-fields label {
  text-transform: capitalize;
}

.element-container {
  background-color: #f3f3f3;
  min-height: 300px;
  padding: 20px 0;
}
.element-container.alt {
  background-color: #fff;
}

.heading {
  font-weight: 400;
}/*# sourceMappingURL=custom.css.map */