// Variables, fonts, mixins, helpers... common styles used across project
@import 'base/__base';

// Components
@import 'components/__components';

.element-container {
  background-color: $offwhite;
  min-height: 300px;
  padding: 20px;

  &.alt {
    background-color: $white;
  }
}

.heading {
  font-weight: 400;
}

.top-bar {
  background-color: $secondary;
  width: 100%;
  min-height: 50px;
  position: fixed;
}

.wrapper {
  display: flex;
  position: relative;

  .main-content {
    width: 100%;
    margin-left: 200px;
  }
}
