.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: $secondary;

  .img-container {
    background-color: $secondary-light;
    padding: 10px 0;
    .logo {
      width: 75%;
    }
  }
  .sidebar-nav {
    padding-left: 0;
    .nav-item {
      list-style-type: none;
      padding: 15px;

      &:not(:last-of-type) {
        border-bottom: 1px solid rgba(225, 225, 225, 0.05);
      }

      &:hover {
        background-color: $secondary-light;
      }

      a {
        display: block;
        color: $offwhite;
        text-decoration: none;
      }
    }
  }
}
